body {
  background-color: rgb(222, 222, 194);
  font-size: 16px;
  font-family: monospace;
}

.main-window {
  display: flex;
  align-items: flex-start;
}

.worktextblock {
  width: 780px;
  margin: 20px auto 0 auto;
}

pre {
  font-family: monospace;

  text-wrap-mode: wrap;
  word-break: break-all;

  line-break: anywhere;

  margin: 0;

}

button {
  margin: 350px auto 0 auto;
}



