body {
  background-color: rgb(222, 222, 194);
  font-size: 16px;
  font-family:monospace;
}

.main-window {
  display: flex;
  align-items: flex-start;
}

.worktextblock {
  width: 780px;
  margin: 20px auto 0 auto;

}

pre {
  text-wrap-mode: wrap;
  word-break: break-all;
}

button {
  margin: 50px auto 0 auto;
}
